@font-face {
    font-family: 'Futura LT Pro Medium';
    src: url('FuturaLTPro-Medium.eot');
    src: url('FuturaLTPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('FuturaLTPro-Medium.woff2') format('woff2'),
        url('FuturaLTPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT Pro Regular';
    src: url('FuturaLTPro-Book.eot');
    src: url('FuturaLTPro-Book.eot?#iefix') format('embedded-opentype'),
        url('FuturaLTPro-Book.woff2') format('woff2'),
        url('FuturaLTPro-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Futura LT Pro Light';
    src: url('FuturaLTPro-Light.eot');
    src: url('FuturaLTPro-Light.eot?#iefix') format('embedded-opentype'),
        url('FuturaLTPro-Light.woff2') format('woff2'),
        url('FuturaLTPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.slideshow__slide--3_2 .slideshow__image .image__img,
.slideshow__slide--full_height .slideshow__image .image__img {
    object-position: top center;
}



h2.slideshow__heading.type-heading-display {
    font-family: 'Futura LT Pro Regular'
}

.header--alignment-left .header__nav .nav--depth-1 {
    text-transform: uppercase;
    font-family: 'Futura LT Pro Regular'
}


@media(min-width: 1000px) {

    .product__media {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 10px;
    }

}

.product-item__swatches {
    position: relative;
    top: 18px;
    background: white;
}

.product-form__chip {
    margin-right: 4px;
}

.product-item .badge {
    padding: 6px 7px;
}

.shopify-payment-button__button--unbranded {
    color: #fff !important;
}

div.product__header h1.product__title {
    font-size: 1.3em !important;
    text-transform: capitalize;
    font-family: 'Futura LT Pro Medium';
}

.product-form__option-label.label-above {
    color: #919191;
}


.product-form__chip:hover .product-form__chip-label {
    background: #DDE0E2;
}


/* .backorder-available {
   background-image:url("https://cdn.shopify.com/s/files/1/1088/7932/files/sold.png?v=1606254999");
   object-fit: cover;
 } */

.sold-out {
    background-image: url(https://cdn.shopify.com/s/files/1/1088/7932/files/sold.png?v=1606254999);
    object-fit: cover;
    color: #919394;
    padding-top: 4px;

}


/* .codacity-waitlist-notification {
  	font-style: italic;
 	text-align: center;
    font-size: 16px;
	margin-top: 10px;
  	margin-bottom: 10px;
}
 */
